body {
  background-color: #eab676;
  color: white;
}

a {
  color: #873e23;
}

.properties {
  display: flex;
}

.property {
  flex: 1;
  text-align: center;
  padding: 15px;
}

img.property-image {
  height: 200px;
}
